body {
  /* margin: 0; */
}

div {
  width: 50%;
  border: 1px solid black;
  box-sizing:border-box;
  text-align: center;

  display: inline-block;
  background-color: beige;
  font-size: 5vh;
}

img {
  width: 100%
}
